@using Trotels.Entity.Concrete;
@model IEnumerable<Guest>


<a class="btn btn-success" asp-action="Create">Yeni Guest</a>
<table class=" table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p =>p.FirstName)</th>
            <th>@Html.DisplayNameFor(p =>p.LastName)</th>
            <th>@Html.DisplayNameFor(p =>p.TcNo)</th>
            <th>@Html.DisplayNameFor(p =>p.Email)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guest in Model)
        {
            <tr>
                <td>@guest.FirstName</td>
                <td>@guest.LastName</td>
                <td>@guest.TcNo</td>
                <td>@guest.Email</td>
            </tr>
        }
    </tbody>
</table>