@using Trotels.Entity.Concrete;
@model IEnumerable<Hotel>


@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}
<h1>Trotels</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelCountry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<form asp-action="Create">
    @foreach (var item in Model) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelCountry)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
            }
    </form>
    </tbody>

</table>